.SideBar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.sidebarWrapper {
  padding: 20px;
}

.sidebarlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebarlistitem {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.s-b-icon {
  margin-right: 15px;
}

.s-b-btn {
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.sidebarHr {
  margin: 20px 0;
}

.FriendList-li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebarFriendList {
  margin: 0;
  padding: 0;
  max-height: 200px;
  list-style: none;
}
