.Post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.post-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.Post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-t-left {
  display: flex;
  align-items: center;
}

.p-name {
  margin: 0px 10px;
  font-weight: 500;
  font-size: 15px;
}

.p-date {
  font-size: 10px;
}


.Post-Center {
  margin: 20px 0;
}

.Post-Center img {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.Post-Buttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-b-left {
  display: flex;
  align-items: center;
}

.p-b-left * {
  height: 24px;
  cursor: pointer;
  margin-right: 5px;
}

.likeCount {
  font-size: 12px;
}

.p-comments-text {
  cursor: pointer;
  border-bottom: 1px dashed gray;
}